$site-white:  #dddddd;
$site-green:  #375757;
$site-red:    #573A37;
$site-blue:   #2b3445;
$site-black:  #222222;
$title-font: 'Righteous', cursive;
$base-font: 'Roboto', sans-serif;

@import './did-you-know';
@import './numbers-clue.scss';
@import './numbers-input.scss'; 
@import './guess-cups.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $site-blue;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.hide {
  opacity: 0;
}

.title-font {
  font-family: $title-font;
}