.numbers-input-container {
  position: relative;
  top: -30vw;
  width: 24%;
  transition: all 500ms ease-out;
}

.numbers-input-hide {
  transform: translateX(-100%);
}

.numbers-input-container ul {
  background-color: $site-red;
  text-align: center;
  display: flex;
  font-family: $title-font;
  font-size: 5vw;
  color: $site-black;
  overflow: hidden;
  transition: color 1000ms ease;
}

.numbers-input-container ul li{
  cursor: pointer;
  flex: 0 0 20%;
  padding-right: 1vw;
}

.input-number-exit {
  animation: input-number-exit 150ms ease-in;
  animation-fill-mode: forwards;
 }
 
 @keyframes input-number-exit {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
 }


.input-number-enter {
  animation: input-number-enter 150ms ease-out;
  animation-fill-mode: forwards;
 }
 
 @keyframes input-number-enter {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
 }